            .p
            {
                font-family: Roboto;
                margin-top: 0;
                margin-bottom: 0;
            }
            .roboto-regular {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
              }
            .video-title
            {
                font-weight: bold;
                font-size: 20px;
                width: 350px;
                line-height: 24px;
                margin-bottom: 5px;
            }
            .video-stats
            {
                font-size: 14px;
                color: rgb(51, 50, 50);
                margin-top: 5px;
            }
            .video-author
            {
                font-size: 14px;
                color: rgb(51, 50, 50);
                margin-top: 20px;
            }
            .video-description
            {
                font-size: 14px;
                color: rgb(51, 50, 50);
                width: 270px;
                line-height: 19px;
                margin-top: 20px;
                margin-bottom: 100px;
            }
            .apple-text
            {
                margin-bottom: 50px;
                font-size: 14px;
                background-color: rgb(227, 65, 64);
                color: white;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }
            .span
            {
                cursor: pointer;
            }
            .span:hover
            {
                text-decoration: underline;
            } 